.sign {
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signHeader,
  .signBody {
    display: flex;
    justify-content: center;
  }
  
  .signLog {
    height: 4em;
    color: white;
    margin-bottom: 1em;
  }
  
  .signForm{
    height: 11em;
    width: 25em;
    padding: 2em;
    background-color: white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signInp{
    height: 2.5em;
    border-radius: 2em;
    border: none;
    background-color: lightgray;
    font-size: 0.8em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  .signInp:focus{
      outline: none;
  }

  .passwordInfos{
    font-size: 0.5em;
    display: flex;
    justify-content: flex-end;
    color: darkred;
    margin-bottom: 0.4em;
  }
  
  .signBtn{
    height: 3em;
    margin: 0 12em;
    border-radius: 2em;
    border: none;
    background-color: midnightblue;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .signBtn:hover{
    background-color: #254BAD;
  }
  
  .signHavAcc{
    text-align: end;
    font-size: 0.7em;
    border: none;
    background-color: transparent;
  }
  
  .signHavAcc:hover, 
  .signBtn:hover{
    text-decoration: underline;
  }
  
  /* ################ MEDIA QUERY MOBILE ################ */
  @media screen and (min-width: 320px) and (max-width:767px) {
    .signLog {
      height: 2.5em;
    }
  
    .signForm {
      height: 9em;
      width: 15em;
      padding: 1.5em;
    }
  
    .signBtn {
      height: 2.5em;
      margin: 0px 5em;
      margin-top: 0.5em;
    }
  }